[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
pylint = "*"
pelican = "*"
readme-renderer = "*"

[packages]

[scripts]
tests = "python -m pytest --cov=thedropin"
lints = "pylint thedropin tests release.py setup.py"

bump_version = "python ./release.py"

dist_create = "python setup.py sdist bdist_wheel"
dist_check = "twine check dist/*"
dist_upload_test = "twine upload --repository testpypi dist/*"
dist_upload_pypi = "twine upload dist/*"
