[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
pylint = "*"
pelican = "*"
readme-renderer = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
tests = "python -m pytest --cov=thedropin"
lints = "pylint thedropin tests release.py setup.py"
dist_create = "python setup.py sdist bdist_wheel"
dist_check = "twine check dist/*"
twine_test = "twine upload --repository testpypi dist/*"
